#bar {
  background-color: grey;
  padding: 15px;
  border-radius: 5px;
}

.key {
  width: 50px;
  height: 80px;
  border-radius: 5px;
  display: inline-block;
  background-color: lightgrey;
  border: 2px solid grey;
  margin-right: 5px;
  cursor: pointer;
}

.red {
  background-color: #ea4545;
  border-color: #b33232;
}

.orange {
  background-color: orange;
  border-colorborder-color: darkorange;
}

.yellow {
  background-color: #fdd238a3;
  border-color: #ad8c19a3;
}

.white {
  background-color: #eeeeee;
  border-color: lightgrey;
}

.selected {
  background-color: green;
  border-color: darkgreen;
}

.circle {
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  background-color: lightgrey;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}

.active-circle {
  border-color: green;
  background-color: lightgreen;
}

.button {
  background: blue;
  color: white;
  text-align: center;
  width: 50px;
  margin:10px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
