#container {

  width: 50%;
  background-color: yellow;
  position: relative;
  border-radius: 3px;
}

#topbar {
  position: relative;
  background-color: orange;

}

#title {
  margin-left: 5px;
  margin-top: 0px;
  left: 5px;
}

#add_task_box {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translate(0%, -50%);
}

#list {
  padding-bottom: 10px;
  padding-right: 10px;
}
#task_name_input  {
  min-width:400px;
}

.task {
  position: relative;
  background-color: red;
  margin: 5px;
  border-radius: 3px;
}

.task_name {
  display: inline-block;
  margin: 5px;
}

.task_controls {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0%, -50%);
  width: 200px;

}

.completed_checkbox {
  display: inline-block;
}

.delete_button {
  display: inline-block;
  position: absolute;
  right: 0px;
}
